/* For debugging */
/* * {
    border: .1px solid red;
} */

hr {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: black;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: auto;
    font-family: 'Roboto', sans-serif;
}
