#navbar {
    width: 100%;
    height: 36px;
    /* margin: 0px 54px 0px 54px !important; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

#navbar button {
    color: #fff;
    background-color: black;
    border: none;
    font-size: 18px;
    font-weight: 500;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    text-decoration: none;
}

#navbar .hamburger-menu {
    display: none;
}

#logo-in-navbar {
    width: 64px;
    height: 35px;
}

.search-box {
    display: flex;
}

.search-box .category-selector .dropdown-selector {
    background-color: white; 
    border-radius: 4px 0px 0px 4px;
    width: 45px; 
    height: 35px;
    display:flex; 
    justify-content: space-around;
    align-items: baseline;
    position: relative;
}

.search-box .category-selector .dropdown-selector:hover {
    cursor: pointer;
}

.category {
    position: absolute;
    top: 20px;
    left: 0;
}

.category .category-content {
    width: 250px;
    padding: 0px !important;
    /* width: 100%; */
}

.category .category-content .category-items .flex-category-item {
    background-color: black;
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
}

.category .category-content .category-items .flex-category-item > i {
    color: rgb(168, 168, 168);
    margin: 10px 10px;
    font-size: 16px;
}

.category .category-content .category-items .flex-category-item > span {
    color: white;
    margin: 10px 0px;
    font-size: 18px;
}

.search-box .search-type-head .search-data {
    width: 600px;
    height: 35px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 0px 4px 4px 0px;
    font-size: 16px;
}

.search-type-head  .fa .fa-search {
    position: absolute;
}

#navbar .search-icon {
    color: white; 
    font-size: 18px;
    display: none;
}

@media screen and (max-width: 1057px) {
    #navbar .hamburger-menu {
        display: block;
        padding: 15px;
    }
    #navbar #menu {
        display: none;
    }
    #navbar #imdb-pro {
        display: none;
    }
    #navbar #watchlist {
        display: none;
    }
}

@media screen and (max-width: 860px) {
    #navbar .search-box {
        display: none;
    }
    #navbar .logo {
        flex-grow: 1;
    }
    #navbar .search-icon {
        display: block;
        padding: 15px;
    }
}