#show-video {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 16px auto;
}

.carousel-video {
    position: relative;
    cursor: pointer;
    flex: 1;
}

.control-slide {
    position: absolute;
    background-color: rgba(18, 18, 18, 0.45);
    border: 1px solid gray;
    border-radius: 4px;
    color: white;
    padding: 12px;
    bottom: 50%;
    transform: translateY(50%);
}

.control-slide:hover {
    color: rgb(245, 197, 24);
}

.control-slide-next {
    right: 5px !important;
}

.control-slide-previous {
    left: 5px !important;
}

.slide {
    position: relative;
}

.slide .details {
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: flex-end;
}

.preview-image img {
    width: 100%;
    min-height: 547px;
    max-height: 800px;
    margin-right: 16px;
    position:relative;
    z-index:-1;
}

.slide .preview-image {
    /* background: linear-gradient(to top, rgb(23, 23, 24), rgba(226, 226, 223, 0)); */
    background: rgb(17,17,18);
    background: linear-gradient(360deg, rgba(17,17,18,1) 0%, rgba(15,15,15,0) 25%, rgba(252,252,252,0) 100%);
}

.slide .details .poster img {
    width: 165px;
    height: 235px;
}

.slide .details .poster .icons-in-details {
    position: absolute;
    left: 0;
    top: 0;
}

.slide .details .poster .icons-in-details:hover .bookmark{
    color: rgb(99, 89, 89)
}

.slide .details .poster .bookmark {
    position: absolute;
    font-size: 50px;
    color: rgb(54, 50, 50);
    top: 0;
    left: 0;
    /* fill: rgba(255, 255, 255, 0.32); */
}


.slide .details .poster .plus {
    position: absolute;
    font-size: 20px;
    color: white;
    transform: translate(50%, 50%);
}

.details .description {
    display: flex;
    flex-direction: row;
    align-items: center;

}

.details .description .icon {
    color: white;
    font-size: 72px; 
    margin: 6px 10px;
}

.details .description .titles {
    font-weight: 400;
}

.details .description:hover .icon {
    color: rgb(245, 197, 24);
}


.details .description .titles .header {
    color: white;
    font-size: 2rem;
    line-height: 2.5rem;
}

.details .description .titles .short {
    color: rgb(194, 186, 186);
    font-size: 1.25em;
    line-height: 1.5rem;
}

.description .timeline {
    font-size: 1.5rem;
    font-weight: 400;
    color:rgba(255, 255, 255, 0.7);
    margin-left: 2rem;
}


.upnext-video {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


#upnext-header {
    color: rgb(245, 197, 24);
    font-size: 20px;
    font-stretch: 100%;
    font-weight: 600;
    margin-left: 16px;
}

.image-in-side img {
    width: 88px;
    height: 130px;
    margin-left: 16px;
}

.image-in-side {
    display: flex;
    justify-content: flex-start;
}

.up-next-details {
    margin-left: 10px;
}

.image-in-side .up-next-details:hover .icon i.fa {
    cursor: pointer;
    color: rgb(245, 197, 24) !important;
}

.up-next-details i {
    margin-bottom: 10px;
}

.up-next-details .titles .header{
    color: white;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 400;
}

.up-next-details .titles .short {
    color: rgb(194, 186, 186);
    font-size: 1rem;
    line-height: 1.5rem;
}

@media screen and (max-width: 1057px) {
    .upnext-video {
        display: none;
    }
}
