.watch-video .title {
    color: rgb(245, 197, 24);
    font-size: 30px;
    font-weight: bold;
    margin-top: 80px;
}

.featured-today {
    margin-top: 40px;
    /* position: relative; */
    display: flex;
    justify-content: center;
}


.featured-slides {
    display: flex;
    position: relative;
    flex-direction: row;
    flex: 1;
    justify-content: space-between;
}

.featured-slides .featured-slides-container {
    flex: 1;
}

.featured-slides .control-slide-next {
    right:100px;
}

.featured-today .featured-slides .slide {
    margin-top: 20px;
    width: 50%;
    
}

.featured-today .featured-slides .slide img{
    width: 100%;
    /* height: 100%; */
    /* max-width: 395px; */
    max-height: 222px;
}